/* RESETTIN' RULES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,li,menu {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: currentColor;
}


/* END OF RESETTIN' RULES */

header {
    padding-left: 20px;
    padding-right: 20px;
    height: 85px;
}

.blu-buttons{
    background-color: #0061FF;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
}

.checkbox__span {
    padding-right: 60px;
}

.checkbox {
    padding-right: 40px;
}

h1 {
    font-weight: 800;
    font-size: 80px;
    padding-bottom: 50px;
}

h3 {
    font-weight: 600;
    font-size: 42px;
    padding-bottom: 50px;
}

h5 {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
}

h6 {
    padding-bottom: 25px;
}

.choose-plan{
   padding: 10px;
}


.p__jumbotron {
    padding-bottom: 40px;
}

.p__jumbotron-bottom {
    margin-top: 60px ;
}

.p__cards {
    padding-bottom: 25px;
}

.p__cards-last {
    padding-top: 45px;
}



.time-plan {
    padding-bottom: 60px;
}

.header__li {
    padding-right: 30px;
}

.jumbotron {
    background-color: #B4D0E7 ;
    padding-top: 100px;
}

.select-plans {
    padding-top: 100px;
}

/* 
CONTAINERS MANAGMENT  */

.container-fluid {
    width: 100%;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-mid {
    max-width: 1000px;
    margin: 0 auto;
}

.container-plans {
    padding-top: 60px ;
}



/* FLEX SECTION  */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

/* FLEX-ITEMS SECTION  */

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-4__header-right {
    text-align: right;
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 { 
    flex-basis: calc((100% / 12) * 12);
}

.card {
    border: 1px solid lightgray;
    font-size: 16px;
}

.pro-plan {
    padding: 30px;
}

/* SECTIONS AND BACKGROUNDS  */

