/* RESETTIN' RULES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul, li, menu {
    display: inline-block;
    vertical-align: middle;
    list-style-position: outside;
}

select {
    border: none;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* END OF RESETTIN' RULES */

header {
    padding-left: 20px;
    padding-right: 20px;
    height: 85px;
}

.logo {
    display: block;
}

.figure__partner {
    padding-bottom: 40px;
}

.partner-img, .partner-svg-black {
    width: 50%;   
}

.partner-img {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    display: block;
}

.blu-buttons {
    background-color: #0061FF;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: block;
    white-space: nowrap;
}

.button-white-no-border {
    background-color: #FFFFFF;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

span.blu-buttons.inline-block {
    display: inline-block;
}

/* .bill-rate > input {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	appearance: none;
	margin-bottom: 2px;
}

.bill-rate > input:checked {
	border: 5px solid blue;
} */

.white-buttons-solid {
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    white-space: nowrap;
}

a > .blu-buttons {
    font-size: 18px;
}

span.blu-buttons {
    padding: 10px 37px;
}

.buy-now {
    text-decoration: underline;
    color: blue;
}
.checkbox__span {
    padding-right: 60px;
}

.checkbox {
    padding-right: 40px;
}

h1 {
    font-weight: 800;
    font-size: 80px;
    padding-bottom: 50px;
}

h3 {
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 50px;
}

.faq__title {
    padding-bottom: 80px;
}

.title-bordeaux {
    color: #61082B;
}

h4 {
    font-size: 20px;
    font-weight: 700;

}

h5 {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
}

h6 {
    font-size: 24px;
}

h6.p__cards {
    padding-bottom: 10px;
    font-size: 24px;
}

p.p__cards.priece {
    font-size: 16px ;
    font-weight: 700;
    padding-bottom: 10px;
    margin-left: -3px;
}

p.p__cards.time-plan {
    padding-bottom: 50px;
    color: lightgray;
    margin-left: -3px;
}

.p__enterprise {
    padding-top: 55px;
    width: 72%;
    font-size: 14px;
    color: black;
}

.p__partners {
    padding-top: 15px;
    padding-bottom: 30px;
}

.p__ex {
    padding-top: 30px;
}

.p__partner  {
    padding-top: 40px;
}

strong:not(.not-indented) {
    margin-left: -12px;
}

.choose-plan{
   padding: 10px;
}

.p__jumbotron {
    padding-bottom: 40px;
}

.p__jumbotron-bottom {
    margin-top: 40px ;
    font-size: 32px;
}

.p__cards {
    padding-bottom: 25px;
    display:block;
    text-indent: -0.6em;
    
}

.h7 {
    padding-bottom: 25px;
}


.p__cards-last {
    padding-top: 45px;
    padding-bottom: 45px;
}

.header__li {
    padding-right: 30px;
}

.jumbotron {
    background-color: #B4D0E7 ;
    padding-top: 100px;
}

.card-plan__cta::after {
	content: '';
	display: block;
	width: 48px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.2);
    margin-top: 45px ;
}

/* 
CONTAINERS MANAGMENT  */

.container-fluid {
    max-width: 100%;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-mid {
    max-width: 1000px;
    margin: 0 auto;
}

.container-plans {
    padding-top: 60px ;
}

.ads {
    max-width: 70%;
}

.container1-3 {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
}

div.big-partner-badge {
    padding:40px;
}


/* FLEX SECTION  */

.row, .row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
}

.row-partners {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    align-items: center;
}

.row-2 {
    margin-bottom: 50px;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

div.row.row-gap {
    gap: 30px;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}

.span-flexed-checkbox {
    display: flex;
    gap: 20px;
}

.enterprise {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.partner-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.container-fluid-flex {
    display: flex;
}

.flexed-faq {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* FLEX-ITEMS SECTION  */

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4:not(.col-4__header-right) {
    flex-basis: calc((100% / 12) * 4);
    padding-right: 25px;
}

div.col-4.no-padding {
    padding-right: 0px;
}

.col-4__header-right {
    text-align: right;
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    padding-top: 10px;
    padding-left: 130px;
    /* align-self: center; */
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

div.col-6.col-6-half-width {
    width:60%
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    /* align-self: center; */
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    padding-right: 50px;
    
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-12 { 
    flex-basis: calc((100% / 12) * 12);
}

div.col-12.border-top-bot {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
    padding: 40px 0px ;
}

div.col-12.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
    padding: 40px 0px ;
}

.card {
    border: 1px solid lightgray;
    font-size: 16px;
    height: 100%;
}

.pro-plan {
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 14px;
    text-align: left;
}

.enterprise {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 14px;
    text-align: left;

}

.enterprise-core {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
}

/* SECTIONS AND BACKGROUNDS  */

.partners, .dropbox-users, .dropbox-tryal {
    padding: 60px;
}

.faq {
    padding: 150px;
}

.select-plans {
    padding-top: 100px;
    padding-top: 150px;
}

.dropbox-ex {
    padding-bottom: 60px;
    padding-top: 60px;
}

.dropbox-tryal {
    background-color: #B4D0E7;
    padding-top: 150px;
    padding-bottom: 100px;
}

.bg-green {
    background-color: #A2D39B;
}

.bg-bordeaux {
    background-color:#61082B;
}

.bg-bluette {
    background-color: #0093CE;
}

.bg-red {
    background-color: #FF1C1C;
}

.partner-badge-border {
    border: 12px solid #D1E9CD;
}

.container1-3-middle {
    background-color: #F5F5F5;
}

.bg-dark-red {
    background-color: #D5001F;
}

.bg-light-blu {
    background-color: #B4D0E7;
}

.bg-blu {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}
